<div class="row">
    <div id="app-<%= registered_application.id %>">
        <div class="pull-left">
            <%= link_to "Delete Application", registered_application, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete?'} %>
        </div>
        <div class="col-md-8">
            <%= registered_application.name %>
            <small><%= registered_application.url %></small><br />
        </div>
    </div>
</div>
